.search-result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
}

.item {
    background: #7CC0AB;
    box-shadow: 0 0 10px #093527;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.recipe-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.title {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.view-recipe-button,
.modify-recipe-button {
    margin: 0 10px;
    padding: 10px;
    background-color: #244C3F;
    color: #EAF5F2;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
}

.view-recipe-button:hover,
.modify-recipe-button:hover {
    background-color: #458F77;
}

.servings {
    margin-bottom: 10px;
}

.item-data {
    width: 100%;
    padding-top: 10px;
    margin-top: 10px;
}

.item-data th,
.item-data td {
    text-align: left;
    padding: 5px;
    border: none;
}

.item-data th {
    border-bottom: 3px solid #EAF5F2;
    text-align: center;
}

.item-data tr td:nth-child(2) {
    text-align: right;
}

@media only screen and (max-width: 1200px) {
    .search-result {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .search-result {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 400px) {
    .search-result {
        grid-template-columns: 1fr;
    }
}

.find-more-recipes-button {
    height: 100%;
    background-color: transparent;
    border: 5px solid #244C3F;
    border-radius: 10px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.find-more-recipes-button:hover {
    background-color: #244C3F;
}

.find-more-recipes-button:hover>.refresh-icon {
    color: #EAF5F2;
}

.refresh-icon {
    color: #244C3F;
    font-size: 6em;
    font-weight: bold;
}