.search-result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
}

.item {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.item .item-data strong {
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.item .flex-container {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.item .title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 600;
}

.item .view-recipe-button,
.item .modify-recipe-button {
    margin-top: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.item .view-recipe-button:hover,
.item .modify-recipe-button:hover {
    background-color: #0056b3;
}

.item .item-data {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

@media only screen and (max-width: 1200px) {
    .search-result {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-wrap: wrap;
        margin-top: 30px;
        width: 100%;
        row-gap: 20px;
        column-gap: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .search-result {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        margin-top: 30px;
        width: 100%;
        row-gap: 20px;
        column-gap: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .search-result {
        display: grid;
        grid-template-columns: 1fr;
        flex-wrap: wrap;
        margin-top: 30px;
        width: 100%;
        row-gap: 20px;
        column-gap: 20px;
    }
}

.find-more-recipes-button {
    height: 100%;
    background-color: transparent;
    border: 5px solid #0056b3;
    border-radius: 10px;
    cursor: pointer;    
    transition: all 500ms ease-in-out;
}

.find-more-recipes-button:hover {
    background-color: #0056b3;
}

.find-more-recipes-button:hover > .refresh-icon {
    color: white;
}

.refresh-icon {
    color: #0056b3;
    font-size: 6em;
    font-weight: bold;
}